#about_me{
  width: 100%;
  height: 20%;
  background-color: #2a52be;
}

#avatar{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  height: 15%;

}

#introduction{
  font-size: 3em;
  color: white;
  text-align: center;
}
